################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Selenium_Cucumber_C_Sharf_Framework/v16/Server/sqlite3/db.lock
